<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Nueva Venta</title>
</head>

<body>
    <div layout:fragment="contenido" class="container-fluid my-4">
        <div class="card">
            <div class="card-header">
                <h2 th:text="${titulo}">Contenido</h2>
            </div>
            <form th:action="@{/ventas/guardar}" th:object="${venta}" method="post">
                <div class="card-body">
                    <!-- Formulario Maestro-Detalle -->

                    <!-- Encabezado -->
                    <div class="row">
                        <div class="col col-3">
                            <div class="form-control">
                                <small class="text-info">Fecha y Hora</small>
                                <br />
                                <label th:field="*{fechaHora}"
                                    th:text="*{#temporals.format(fechaHora, 'dd/MM/yyyy HH:mm')}"></label>
                            </div>
                        </div>
                        <div class="col col-6">
                            <div class="form-control">
                                <small class="text-info">Descripción</small>
                                <br />
                                <textarea class="form-control" rows="3" th:field="*{descripcion}"></textarea>
                            </div>
                        </div>
                        <div class="col col-3">
                            <div class="form-control">
                                <small class="text-info">Total</small>
                                <br />
                                <!--  <label th:field="*{total}" th:text="*{#numbers.formatCurrency(total)}"></label>-->
                                <h4 id="total" class="text-success">$0.00</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Encabezado -->
                    <hr class="my-5" />
                    <!-- Detalle -->
                    <!-- Buscador de productos -->
                    <div class="row">
                        <div class="col col-12">
                            <div class="form-control">
                                <small class="text-info">Producto</small>
                                <input type="search" class="form-control" id="buscar_productos">
                            </div>
                        </div>
                    </div>
                    <!-- Lista de productos (lineas) de la venta -->
                    <table id="tabla_productos" class="table table-striped table-hover table-bordered mt-4">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <!-- Fin Lista de productos (lineas) de la venta -->
                    <!-- Tabla Auxiliar -->
                    <table class="d-none">
                        <tbody id="lineas">
                            <tr id="fila_{ID}">
                                <td class="d-none">
                                    <input type="hidden" value="{ID}" name="item_id[]">
                                </td>
                                <td>
                                    {DESCRIPCION}
                                </td>
                                <td>
                                    {PRECIO}
                                </td>
                                <td>
                                    <input style="width: 100px" class="form-control" id="cantidad_{ID}" type="number"
                                        value="1" min="1" name="cantidad[]"
                                        onchange="LineasUtil.calcularSubtotal({ID}, {PRECIO}, this.value)">
                                </td>
                                <td >
                                    <span id="subtotal_{ID}">0.00</span>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-danger" onclick="LineasUtil.eliminarLinea({ID})">
                                        <i class="bx bxs-trash bx-flashing"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <!-- Fin Tabla Auxiliar -->

                        <!-- Fin Detalle -->
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success float-end ms-2">
                        Registrar Venta
                    </button>
                    <a href="/ventas/listado" class="btn btn-outline-secondary float-end">
                        cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>

    <!-- scripts de la plantilla-->
    <script th:fragment="js" th:src="@{/js/ventas-form.js}"></script>
</body>

</html>